### VacationPy

In [101]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

gmaps.configure(api_key=g_key)

In [102]:
# Store Part I results into DataFrame
csv_file = "../WeatherPy/output_data/cities.csv"
weather_df = pd.read_csv(csv_file)
weather_df.head()
# Load the csv exported in Part I to a DataFrame

,City,Date_Updated,Country,Latitude,Longitude,Temperature_Max,Humidity,Cloudiness,Wind_Speed
0,rikitea,2020-05-27,PF,-23.12,-134.97,75.60,82,0,9.93
1,chuy,2020-05-27,UY,-33.70,-53.46,60.57,57,0,4.05
2,ushuaia,2020-05-27,AR,-54.80,-68.30,37.40,76,97,10.29
3,cabo san lucas,2020-05-27,MX,22.89,-109.91,81.00,44,5,3.42
4,shimoda,2020-05-27,JP,34.67,138.95,64.99,78,100,3.00

### Humidify Heatmap

In [103]:
# location variable to store latitude and longitude
location = weather_df[["Latitude", "Longitude"]]

# humidity variable to store Humidity
humidity = weather_df["Humidity"].astype(float)

In [104]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(location, weights=humidity, max_intensity= 100, point_radius = 3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig
##NOTE: Display Map would not work, i get msg API not activated but I generated a new key and I added the jupyter nbextension enable --py gmaps

Figure(layout=FigureLayout(height='420px'))

In [105]:
### Create new DataFrame fitting weather criteria
<li> Narrow down the cities to fit weather conditions.</li>
<li> Drop any rows will null values.</li>

SyntaxError: invalid syntax (<ipython-input-105-6ceda9a388ec>, line 2)

In [106]:
great_weather_df = weather_df.loc[(weather_df['Temperature_Max']  >= 70)
               & (weather_df['Temperature_Max']  < 85)
               & (weather_df['Cloudiness']  < 40)
               & (weather_df['Humidity'] < 50)
                          ]
great_weather_df = great_weather_df.dropna()
great_weather_df = great_weather_df.reset_index()
great_weather_df

,index,City,Date_Updated,Country,Latitude,Longitude,Temperature_Max,Humidity,Cloudiness,Wind_Speed
0,3,cabo san lucas,2020-05-27,MX,22.89,-109.91,81.00,44,5,3.42
1,11,sao francisco,2020-05-27,BR,-15.95,-44.86,77.25,49,0,5.23
2,114,clovis,2020-05-27,US,36.83,-119.70,84.00,37,20,4.70
3,122,mizdah,2020-05-27,LY,31.45,12.98,84.63,18,0,16.17
4,135,dumas,2020-05-27,US,35.87,-101.97,71.01,45,1,8.05
5,175,bereda,2020-05-27,ES,43.27,-7.54,82.00,26,0,4.00
6,176,nsoko,2020-05-27,SZ,-27.03,31.95,71.60,30,16,5.82
7,214,yashkul,2020-05-27,RU,46.17,45.34,73.54,44,29,7.65
8,232,bani walid,2020-05-27,LY,31.76,13.99,79.25,37,1,25.43
9,261,aksu,2020-05-27,CN,41.12,80.26,81.23,16,0,5.50
10,268,yzeure,2020-05-27,FR,46.56,3.35,77.00,27,0,10.29
11,308,manmad,2020-05-27,IN,20.25,74.45,82.65,39,0,17.07
12,330,diamantino,2020-05-27,BR,-14.41,-56.45,80.24,42,0,3.22
13,332,monteagudo,2020-05-27,BO,-19.82,-63.98,81.23,21,0,5.73
14,356,yinchuan,2020-05-27,CN,38.47,106.27,72.21,21,0,7.74
15,365,gonbad-e qabus,2020-05-27,IR,37.25,55.17,82.40,48,0,5.99
16,367,san juan,2020-05-27,AR,-31.54,-68.54,70.43,23,0,8.70
17,373,chino valley,2020-05-27,US,34.76,-112.45,79.00,20,1,2.93
18,393,batman,2020-05-27,TR,37.89,41.13,84.20,35,20,3.36
19,399,saint george,2020-05-27,US,37.10,-113.58,79.00,23,1,1.05
20,454,santa cruz,2020-05-27,BO,-17.80,-63.17,80.60,39,0,8.05
21,456,pombia,2020-05-27,IT,45.65,8.63,78.01,31,0,6.93
22,483,vila,2020-05-27,PT,42.03,-8.16,82.00,46,0,6.89
23,528,sesheke,2020-05-27,ZM,-17.48,24.30,73.40,27,0,3.36

In [107]:
### Hotel Map
<li> Store into variable named hotel_df.</li>
<li> Add a "Hotel Name" column to the DataFrame.</li>

SyntaxError: invalid syntax (<ipython-input-107-014bc731735b>, line 2)

In [108]:
hotel_df = great_weather_df
hotel_df['Hotel_Name'] = ""
hotel_df

,index,City,Date_Updated,Country,Latitude,Longitude,Temperature_Max,Humidity,Cloudiness,Wind_Speed,Hotel_Name
0,3,cabo san lucas,2020-05-27,MX,22.89,-109.91,81.00,44,5,3.42,
1,11,sao francisco,2020-05-27,BR,-15.95,-44.86,77.25,49,0,5.23,
2,114,clovis,2020-05-27,US,36.83,-119.70,84.00,37,20,4.70,
3,122,mizdah,2020-05-27,LY,31.45,12.98,84.63,18,0,16.17,
4,135,dumas,2020-05-27,US,35.87,-101.97,71.01,45,1,8.05,
5,175,bereda,2020-05-27,ES,43.27,-7.54,82.00,26,0,4.00,
6,176,nsoko,2020-05-27,SZ,-27.03,31.95,71.60,30,16,5.82,
7,214,yashkul,2020-05-27,RU,46.17,45.34,73.54,44,29,7.65,
8,232,bani walid,2020-05-27,LY,31.76,13.99,79.25,37,1,25.43,
9,261,aksu,2020-05-27,CN,41.12,80.26,81.23,16,0,5.50,
10,268,yzeure,2020-05-27,FR,46.56,3.35,77.00,27,0,10.29,
11,308,manmad,2020-05-27,IN,20.25,74.45,82.65,39,0,17.07,
12,330,diamantino,2020-05-27,BR,-14.41,-56.45,80.24,42,0,3.22,
13,332,monteagudo,2020-05-27,BO,-19.82,-63.98,81.23,21,0,5.73,
14,356,yinchuan,2020-05-27,CN,38.47,106.27,72.21,21,0,7.74,
15,365,gonbad-e qabus,2020-05-27,IR,37.25,55.17,82.40,48,0,5.99,
16,367,san juan,2020-05-27,AR,-31.54,-68.54,70.43,23,0,8.70,
17,373,chino valley,2020-05-27,US,34.76,-112.45,79.00,20,1,2.93,
18,393,batman,2020-05-27,TR,37.89,41.13,84.20,35,20,3.36,
19,399,saint george,2020-05-27,US,37.10,-113.58,79.00,23,1,1.05,
20,454,santa cruz,2020-05-27,BO,-17.80,-63.17,80.60,39,0,8.05,
21,456,pombia,2020-05-27,IT,45.65,8.63,78.01,31,0,6.93,
22,483,vila,2020-05-27,PT,42.03,-8.16,82.00,46,0,6.89,
23,528,sesheke,2020-05-27,ZM,-17.48,24.30,73.40,27,0,3.36,

In [120]:
hotels = []

for i in range(len(hotel_df)):
    Latitude = hotel_df.loc[i]['Latitude']
    Longitude = hotel_df.loc[i]['Longitude']

    params = {
        "location": f"{Latitude},{Longitude}",
        "types" : "hotel",
        "radius": 5000,
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotels.append(jsn['results'][0]['name'])
    except:
        hotes.append("")
hotel_df["Hotel_Name"] = hotels
hotel_df = hotel_df.dropna()
hotel_df.head()

,index,City,Date_Updated,Country,Latitude,Longitude,Temperature_Max,Humidity,Cloudiness,Wind_Speed,Hotel_Name,Hotel Name
0,3,cabo san lucas,2020-05-27,MX,22.89,-109.91,81.00,44,5,3.42,Cabo San Lucas,Cabo San Lucas
1,11,sao francisco,2020-05-27,BR,-15.95,-44.86,77.25,49,0,5.23,São Francisco,São Francisco
2,114,clovis,2020-05-27,US,36.83,-119.70,84.00,37,20,4.70,Fresno,Fresno
3,122,mizdah,2020-05-27,LY,31.45,12.98,84.63,18,0,16.17,Mizdah,Mizdah
4,135,dumas,2020-05-27,US,35.87,-101.97,71.01,45,1,8.05,Dumas,Dumas

In [116]:
### Using the template add the hotel marks to the heatmap

In [117]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel_Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
location = hotel_df[["Latitude", "Longitude"]]

In [118]:
# mark the layer ontop of heat map
markers = gmaps.marker_layer(location, info_box_content=hotel)
fig.add_layer(markers)

# Display Map would not work, i get msg API not activated but I generated a new key and I added the jupyter nbextension enable --py gmaps
fig

Figure(layout=FigureLayout(height='420px'))